<html>
<body>
    <h1>Iris Species Prediction</h1>
    <h3>Support Vector Machine Algorithm</h3>

<div>
  <form action="/result" method="POST">

    <label for="s_width">Sepal Width</label>
    <input type="number" id="s_width" name="s_width" step="any">
    <br>

    <label for="s_length">Sepal Length </label>
    <input type="number" id="s_length" name="s_length" step="any">
    <br>

    <label for="p_width">Petal Width </label>
    <input type="number" id="p_width" name="p_width" step="any">
    <br>

    <label for="p_length">Petal Length </label>
    <input type="number" id="p_length" name="p_length" step="any">
    <br>

    <input type="submit" name="submit">

  </form>
</div>
</body>
</html>
